HARPER_USER=seu_usuario
HARPER_PASS=sua_senha
TWOCAPTCHA_KEY=sua_chave_2captcha
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=seu@gmail.com
EMAIL_PASS=senha_de_app
EMAIL_TO=destino@email.com
PORTAL_API=http://localhost:8000
ROBO_ID=1
